KINDE_CLIENT_ID=41b5adfd0d9a4029be29e42cf66d4985
KINDE_CLIENT_SECRET=o4b28JJFlfmzGoWyCkoSugV4OTVTLSHifDBE1nAX3jSp4s1cKBS
KINDE_ISSUER_URL=https://saasnextjs16-dev.eu.kinde.com
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/dashboard